.jss3 {
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    position: absolute;
    max-width: 100vw;
    min-width: 100vw;
    max-height: 100vh;
    min-height: 100vh;
    pointer-events: none;
    border: 0px !important;
    margin: 0px !important;
    outline: 0px !important;
    padding: 0px !important;
    overflow: hidden !important;
}

.jss2 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    line-height: 1;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.jss1462 {
    color: white;
    width: 75vw;
    display: flex;
    overflow: hidden;
    position: relative;
    max-height: 80vh;
    transition: all 800ms ease 0s;
    border-radius: 4px;
    flex-direction: row;
    pointer-events: all;
    background-color: rgb(34, 40, 49);
}

.jss1430 {
    color: white;
    width: 75vw;
    display: flex;
    overflow: hidden;
    position: relative;
    max-height: 80vh;
    transition: all 800ms ease 0s;
    border-radius: 4px;
    flex-direction: row;
    pointer-events: all;
    background-color: rgb(34, 40, 49);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.jss2834 {
    width: 42%;
    height: 40%;
    border: 1px solid rgb(30, 58, 86);
    display: flex;
    min-height: 300px;
    align-items: center;
    border-radius: 4px;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(48, 71, 94);
}

.jss2835 {
    width: 300px;
    margin: 16px 0px;
    text-align: center;
}

.jss2833 {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1000;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: rgba(252, 252, 252, 0.3);
}

.jss1468 {
    width: 25%;
    height: 100%;
    padding: 16px;
}

.MuiTypography-colorTextPrimary {
    color: #fff;
}

h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.MuiTypography-h5 {
    font-size: 1.5rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.334;
    letter-spacing: 0em;
}

.MuiTypography-root {
    margin: 0;
}

.MuiTypography-body1 {
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00538em;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.jss1469 {
    flex: 1 1 0%;
    height: calc(100% - 80px);
    overflow-y: auto;
}

.jss1475:last-child {
    margin-bottom: 0px;
}

.jss1475:first-child {
    margin-top: 0px;
}

.jss1476 {
    border: 1px solid rgb(120, 168, 216) !important;
    background-color: rgb(30, 58, 86) !important;
}

.jss1475 {
    width: 95%;
    margin: 16px 0px;
    padding: 8px;
    border-radius: 4px;
    background-color: rgb(48, 71, 94);
}

.jss1477 {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.MuiTypography-body2 {
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
}

.flex-space-between {
    justify-content: space-between !important;
}

.flex-vertical-center {
    align-items: center;
}

.flex-row {
    flex-direction: row;
    justify-content: flex-start;
}

.flex-centered,
.flex-row {
    display: flex;
    align-items: center;
}

.MuiButton-containedSizeSmall {
    padding: 4px 10px;
    font-size: 0.8125rem;
}

.MuiButtonBase-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.MuiButton-label {
    font-size: 0.8rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}

.MuiTouchRipple-root {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
}

.MuiButton-root {
    color: #fff;
    padding: 3px 10px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
}

.jss1481 {
    flex: 1 1 0%;
    width: 100%;
    height: 100%;
    padding: 16px;
    max-height: calc(100% - 32px);
    overflow-y: auto;
    background-color: rgb(34, 40, 49);
}

.jss1501 {
    width: 97%;
    padding: 16px;
    margin-top: 16px;
    border-radius: 4px;
    background-color: rgb(48, 71, 94);
}

.MuiTypography-h6 {
    font-size: 1.25rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
}

.MuiFormControl-root,
hr {
    width: 100%;
}

.MuiFormControl-root {
    border: 0;
    margin: 0;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0;
    flex-direction: column;
    vertical-align: top;
}

.MuiInputLabel-animated {
    transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
}

.jss254 .Mui-focused,
.jss254 .MuiFormControlLabel-root,
.jss254 .MuiInput-underline:after,
.jss254 .MuiInputAdornment-root {
    color: rgba(255, 255, 255, 0.7) !important;
    border-color: rgba(255, 255, 255, 0.7) !important;
}

.MuiFormLabel-root.Mui-focused {
    color: #95ef77;
}

.MuiFormLabel-root.Mui-disabled {
    color: rgba(255, 255, 255, 0.5);
}

.MuiInputLabel-formControl {
    top: 0;
    left: 0;
    position: absolute;
    transform: translate(0, 24px) scale(1);
}

.MuiInputLabel-shrink {
    transform: translate(0, 1.5px) scale(0.75);
    transform-origin: top left;
}

.MuiInputLabel-root {
    display: block;
    transform-origin: top left;
}

.MuiFormLabel-root {
    color: rgba(255, 255, 255, 0.7);
    padding: 0;
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.00938em;
}

label+.MuiInput-formControl {
    margin-top: 16px;
}

.MuiInput-root {
    position: relative;
}

.MuiInputBase-input {
    font: inherit;
    color: currentColor;
    width: 100%;
    border: 0;
    height: 1.1876em;
    margin: 0;
    display: block;
    padding: 6px 0 7px;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    animation-name: mui-auto-fill-cancel;
    letter-spacing: inherit;
    animation-duration: 10ms;
    -webkit-tap-highlight-color: transparent;
}

button {
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.MuiButton-contained {
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    background-color: #e0e0e0;
}

.MuiButton-containedSecondary {
    color: rgba(0, 0, 0, 0.87);
    background-color: #f2a365;
}

.fa-fw {
    text-align: center;
    width: 1.25em;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}

.MuiTypography-root-forcash {
    margin: 1;
}

.fa-2x {
    font-size: 2em;
}

.jss1483 {
    display: flex;
}

.MuiInput-underline:before {
    left: 0;
    right: 0;
    bottom: 0;
    content: "\00a0";
    position: absolute;
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    pointer-events: none;
}

.MuiInputLabel-animated {
    transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
}

.MuiInputBase-root {
    color: #fff;
    cursor: text;
    display: inline-flex;
    position: relative;
    font-size: 1rem;
    box-sizing: border-box;
    align-items: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.1876em;
    letter-spacing: 0.00938em;
}

.jss254 .Mui-focused,
.jss254 .MuiFormControlLabel-root,
.jss254 .MuiInput-underline:after,
.jss254 .MuiInputAdornment-root {
    color: rgba(255, 255, 255, 0.7) !important;
    border-color: rgba(255, 255, 255, 0.7) !important;
}

.MuiButton-label {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}

.main_container_financials {
    width: 100%;
    height: 100%;
}

.MuiButton-containedPrimary {
    color: rgba(0, 0, 0, 0.87);
    background-color: #95ef77;
}

.jss2844 {
    width: 300px;
    margin: 16px 0px;
    display: flex;
    justify-content: space-between;
}

.MuiInputAdornment-positionStart {
    margin-right: 8px;
}

.MuiInputBase-input:focus {
    outline: 0;
}

.MuiInput-underline:after {
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    position: absolute;
    transform: scaleX(0);
    transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    border-bottom: 2px solid #95ef77;
    pointer-events: none;
}

.MuiInput-underline:hover:not(.Mui-disabled):before {
    border-bottom: 2px solid #fff;
}

.jss2835 .Mui-focused,
.jss2835 .MuiFormControlLabel-root,
.jss2835 .MuiInput-underline:after,
.jss2835 .MuiInputAdornment-root {
    color: rgba(255, 255, 255, 0.7) !important;
    border-color: rgba(255, 255, 255, 0.7) !important;
}

.MuiButton-contained:hover {
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
    background-color: #d5d5d5;
}

.MuiInput-underline.Mui-disabled:before {
    border-bottom-style: dotted;
}

.MuiButton-containedPrimary:hover {
    background-color: rgb(104, 167, 83);
}

.MuiButton-containedSecondary:hover {
    background-color: rgb(169, 114, 70);
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    display: none;
}